<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590455857742-39dp54r5q6mkphsebfmg5vub523b2l53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590455857742-39dp54r5q6mkphsebfmg5vub523b2l53</string>
	<key>API_KEY</key>
	<string>AIzaSyBd_kZs_UrtreDIS9AwiDu-aDvm7Ln3x0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>590455857742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postvehicles</string>
	<key>PROJECT_ID</key>
	<string>errandboye</string>
	<key>STORAGE_BUCKET</key>
	<string>errandboye.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590455857742:ios:1d37d4a2285e59a5e9991f</string>
</dict>
</plist>